<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
	<% count=0%>
	<form action="/result" method="post">
	<table>
		<% for(var x of questiondb){ %>
		<tr>
			<td name="<%=x.qid%>"><%=++count%></td>
			<td><%=x.question%></td>
		</tr>
		<tr>
			<td><label><input type="radio" name="<%=x.qid%>" value="a"><%=x.options.a%></label></td>
			<td><input type="radio" name="<%=x.qid%>" value="b"><%=x.options.b%></td>
			<td><input type="radio" name="<%=x.qid%>" value="c"><%=x.options.c%></td>
			<td><input type="radio" name="<%=x.qid%>" value="d"><%=x.options.d%></td>

		</tr>
		<tr>
			<td><br><br></td>
		</tr>
		
		<%}%>

		
	</table>
	<input type="submit">
</form>

</body>
</html>