<html>
<form action="/test" method="POST">
    Name:<input type="text" name="name" placeholder="Name" required><br>
    Email:<input type="text" name="email" placeholder="Email" required><br>
    Contact:<input type="text" name="contact" placeholder="Contact" required><br>
    College:<input type="text" name="college" placeholder="College Name"><br>
    <input type="submit" name="Submit"> 
</form>
</html>
